{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<div class="grid-row freelance-page">  
  
  <div class="freelance-page-content clearfix">
    
    <br>
    <br>
    <br>
    <br>
    
    <img src="/assets/images/Iconography.svg" alt="" style="max-width:100%;margin: 0px auto;display: block;" />
    
    <br>
    <br>
    <br>
    <br>
    
    <h2>Hello</h2>
    <hr>
    <p>I’m Karl, A Full Stack Designer &amp; Developer. I live in Salt Lake City. I write <strong>iPhone</strong> and <strong>Web</strong> apps, &amp; the <strong>API</strong>s that back them. I’m exclusively Freelance.</p>

    <p>I specialize in building Minimum Viable Products, <em>FAST</em>. I love to build a concept completely with small teams or independent designers.</p> 
    
    <br>
    <br>
    <br>
    <br>
    
    <h2>Serving Independent Artists &amp; Designers</h2>
    <hr>
    <p>I'm not proud of 90% of the work I've done. I'm changing that. I want to collaborate with independent artists and designers. So I'm working for less. Sometimes for nothing.</p>
    <p>I'm doing this because I want to work on the amazing cool silly awesome stuff that the world needs built. Starting yesterday I'm working on the cheap to work on the coolest stuff. If you have an awesome project, very little money, but some money please ;), <a href="mailto:me@kow.fm">email me</a>. If you're not sure what you should do or build <a href="mailto:me@kow.fm">email me</a>. Advice is always free.</p>
    <p>For independent Artists and Designers my rate is $<strong>1,000</strong><small>/wk</small> or less depending on the project and the client. If you're not an independent artist or designer, You can still hire me, My rate is $<strong>2,000</strong><small>/wk</small>.</p>
    
    <br>
    <br>
    <br>
    <br>
    
    <h2>Work</h2>
    <hr>
    <p>Right now I'm building An e-commerce app with Lots of personality named <a href="http://getamulet.com/" target="_blank">AMULET</a> with <a href="http://www.ashsmash.com" target="_blank">Ash Huang</a>. I wrote the <a href="http://epicurrence3-prod.herokuapp.com/" target="_blank">Epicurrence 3</a> website with Ben Cline while I was a developer at <a href="http://beta.rallyinteractive.com" target="_blank">Rally</a>.</p>

    <p>I also work on my own stuff: <a href="http://pendium.io" target="_blank">Pendium</a> an invoicing and project management app that I’m building with the talented <a href="https://twitter.com/dmui" target="_blank">Daniel Mui</a>, <strong>Swift Foundations</strong> a course that teaches Swift to complete beginners, launching in June.<p>
      
    <p>I’m also the newest owner of <a href="https://cheddarapp.com" target="_blank">Cheddar</a>, A task app that’s more than just text, and I’ve got some flipping awesome big plans to refurbish this classic.</p>
  </div>
  <div class="freelanceWorkBox clearfix">
    <div class="sampleWorkBox clearfix">
      <img src="/assets/images/EpicBadge.png" alt="" />
      <a href="http://epicurrence3-prod.herokuapp.com" target="_blank" style="text-decoration:underline;"><h3>Epicurrence 3: <em>Web, Backend</em></h3></a>
      <p>Epicurrence is the greatest thing ever. I built Epicurrence 3 with Ben Cline While at the Rally Interactive. Featuring smooth, custom parallax.</p>
    </div>
    <div class="sampleWorkBox clearfix">
      <img src="/assets/images/AmuletSplash.png" alt="" />
      <a href="http://getamulet.com" target="_blank" style="text-decoration:underline;"><h3>Amulet: <em>Web, iOS, api, ApplePay</em></h3></a>
      <p>Amulet is an ecommerce app that allows Independent Crystal Sellers to reach frenzied Crystal Buyers catalogueing their minerals. </p>
      
    </div>
  </div>
  <div class="freelance-page-content clearfix">
    
    <br>
    <br>
    <br>
    <br>
    
    <h2>Contact</h2>
    <hr>    
    <p>I'm on <a href="https://twitter.com/karloscarweber" target="_blank">Twitter</a> and <a href="https://github.com/karloscarweber" target="_blank">Github</a>, I also respond to <a href="mailto:me@kow.fm">email</a>, please send them to me@kow.fm.</p>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
  </div>
  
  <div class="backToArticlesBox">
      <a href="/">BACK TO ARTICLES</a>
  </div>
  
</div>

<link href="//static.cushionapp.com/availability.css" rel="stylesheet">
<script src="//static.cushionapp.com/availability.js"
  data-user="b51b1b81-f87e-4ab9-890f-35d94c7613b2"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js"></script>
