{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<div class="keyboard"></div>
<div class="grid-block clearfix">

    {{> "masthead"}}
    
</div>
<div class="grid-row freelance-page">  
  
  <h1>Keyboard 4 Hire</h1>
  
  <div class="freelance-page-content clearfix">
    
    <h2>I write Websites, APIs, and APPs that fit in your pocket.</h2>
    
    <p>I’m Karl, A Full Stack Designer &amp; Developer. I live in Salt Lake City. I write <strong>iPhone</strong> and <strong>Web</strong> apps, and the <strong>API</strong>s that back them. I’m exclusively Freelance.</p>

    <p>I specialize in building <em>Minimum Viable Products</em>, <strong>FAST</strong>. I love to build a concept completely with small teams or independent designers.</p> 
    
    <br>
    <br>
    <br>
    <br>
    
    
    <h2>I program to make the world better.</h2>
    
    <p>I still believe in the Web, in open standards, in the promise that <strong>technology can make lives better</strong>. Really. We live in a time where everyone has a supercomputer in their pocket, yet too much of our time is dedicated to consumption. I don’t believe in a class system of producers and consumers, <strong>everyone is creative</strong>.</p>
    
    <br>
    <br>
    <br>
    <br>
    
    <h2>Serving Independent Artists &amp; Designers</h2>
    <p>I want to work on the amazing cool silly awesome stuff that the world needs. If you have an awesome project and very little money <a href="mailto:me@kow.fm">email me</a>. If you're not sure what you should do or build <a href="mailto:me@kow.fm">email me</a>. Advice is always free. My rate is <strong>$2,000/wk</strong>.</p>
    
    <br>
    <br>
    <br>
    <br>
    
    <h2>It’s a process, the best projects are built twice.</h2>

    <p><strong>Start with an API</strong>. The API is the truth of every project, it represents the discourse that we have with our machines. What is remembered, ordered, changed, or deleted, is represented in the API.</p>

    <p>Next <strong>establish purpose and personality</strong>. Animation, color, shape, typography, these shape the personality of our application. The only way to make a memorable app is to think deeply about the way it interacts with our users. <strong>Great apps take time</strong>. Lots of time. The more time the beter. By focusing on what the app does we create something truly great.<p>
      
    <p>We complete the cycle by building the app a second time. Building something as fluid and powerful as software is a learning experience. There is no way we’re gonna get it right the first time. Nobody gets it right the first time. There are fewer brave enough to try a second time. The more iterations we take, the better it’s going to be. <strong>The best apps are built twice</strong>.</p>
  </div>
  
  <div class="freelance-page-content clearfix">
    
    <br>
    <br>
    <br>
    <br>
    
    <h2>Contact</h2>

    <p>I'm on <a href="https://twitter.com/karloscarweber" target="_blank">Twitter</a> and <a href="https://github.com/karloscarweber" target="_blank">Github</a>, I also respond to <a href="mailto:me@kow.fm">email</a>, please send them to <a href="mailto:me@kow.fm">me@kow.fm</a>.</p>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <p><a href="/">&lt;- Back to Articles and stuff.</a></p>
    <br>
    <br>
    <br>
    <br>    
  </div>
  
</div>

<link href="//static.cushionapp.com/availability.css" rel="stylesheet">
<script src="//static.cushionapp.com/availability.js"
  data-user="b51b1b81-f87e-4ab9-890f-35d94c7613b2"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js"></script>
