{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<div class="grid-block homepageMasthead clearfix">
  {{> "masthead"}}
</div>
{{#tag}}
<main class="content grid-block clearfix" role="main">
    <div class="grid-row">
        <article class="grid-column actualpostcontentarea .post-template" style="margin-bottom:0px;">
          <header class="post-header">
              <h1 class="post-title">The Pulse</h1>
          </header>
        </article>
    </div>
</main>

<div class="grid-block grid-block-780 clearfix meta_description">
    {{#if image}}<img class="author-image" src="{{image}}" alt="" />{{/if}}
    {{#if description}}<p class="author-lede" style="margin-top:0px;margin-bottom:50px;">{{description}}</p>{{/if}}  
</div>

{{/tag}}
<div class="grid-block grid-block-580">
  {{! The tag below includes the post loop - partials/loop.hbs }}
  {{> "loop"}}
</div>