{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<div class="grid-block homepageMasthead clearfix">
  {{> "masthead"}}
</div>

<div class="grid-block grid-block-780 clearfix meta_description">
  {{#tag}}
    <h2 class="featured-header">Tag: {{name}}</h2>
    {{#if image}}<img class="author-image" src="{{image}}" alt="" />{{/if}}
    {{#if description}}<p class="author-lede" style="margin-top:0px;margin-bottom:50px;">{{description}}</p>{{/if}}
  {{/tag}}
</div>

<div class="grid-block grid-block-580">
  {{! The tag below includes the post loop - partials/loop.hbs }}
  {{> "loop"}}
</div>
