/* ==========================================================================
   Table of Contents
   ========================================================================== */
  @import 'utilities';
/*
    A.  Colors
    0.  Normalize
    1.  Grid
    2.  Typography
    3.  Header
    4.  Navigation
    5.  Index
    6.  Post Header
    7.  Post Typography
    8.  Post Images
    9.  Footer
    10. Pages, and special post stuff
    11. Next/Previous Post buttons
    12. Author Aside Box
    13. Author page
    14. Freelancer page
    15. Tags page.
*/

/* ==========================================================================
   A. Global Colors
   ========================================================================== */
   
   /* global black color */
  .blackColor {
    color:#1C1C1C; /* global black color */
  }
  
  /* background color and the color of text and boxes inside of .colored grid blocks. */
  .backgroundColor {
    color:#D8DEE3;
    background-color:#D8DEE3;
  }

/* ==========================================================================
   0. Normalize.css v2.1.3 | MIT License | git.io/normalize | (minified)
   ========================================================================== */

article, aside, details,
figcaption, figure,
footer, header, hgroup,
main, nav, section,
summary { display: block; }
audio, canvas, video { display: inline-block; }
audio:not([controls]) { display: none; height: 0; }
[hidden], template { display: none; }
html {
   font-family: 'Karla', sans-serif;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
body { margin: 0; }
a { background: transparent; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0; }
h1 { font-size: 2em; margin: 0.67em 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: 700; }
dfn { font-style: italic; }
hr {
   -moz-box-sizing: content-box;
   box-sizing: content-box;
   height: 0;
}
mark { background: #FF0; color: #000; }
code, kbd, pre,
samp { font-family: monospace, serif; font-size: 1em; }
pre { white-space: pre-wrap; }
q { quotes: "\201C" "\201D" "\2018" "\2019"; }
small { font-size: 80%; }
sub, sup {
   font-size: 75%;
   line-height: 0;
   position: relative;
   vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
fieldset {
   border: 1px solid #c0c0c0;
   margin: 0 2px;
   padding: 0.35em 0.625em 0.75em;
}
legend { border: 0; padding: 0; }
button, input, select,
textarea { font-family: inherit; font-size: 100%; margin: 0; }
button, input { line-height: normal; }
button, select { text-transform: none; }
button, html input[type="button"],
input[type="reset"], input[type="submit"] {
   -webkit-appearance: button;
   cursor: pointer;
}
button[disabled], html input[disabled] { cursor: default; }
input[type="checkbox"],
input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] {
   -webkit-appearance: textfield;
   -moz-box-sizing: content-box;
   -webkit-box-sizing: content-box;
   box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner,
input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; }
table { border-collapse: collapse; border-spacing: 0; }
.clearfix:before,
.clearfix:after {content:"";display:table;}
.clearfix:after {clear:both;}
.clearfix {zoom:1; /* For IE 6/7 (trigger hasLayout) */}

  /* ==========================================================================
     1. Grid - 4 column, responsive grid
     ========================================================================== */
  /* ==========================================================================
    2. Typography - 
    ========================================================================== */  
  /* ==========================================================================
    3. Header - see header_navigation.scss
    ========================================================================== */
  /* ==========================================================================
    4. Navigation - see header_navigation.scss
    ========================================================================== */
  /* ==========================================================================
    5. Index - see index.scss
    ========================================================================== */
  /* ==========================================================================
    6. Post Header - 
    ========================================================================== */
    
    .post-header {
      .post-title {
        font-family: 'Karla', sans-serif;
        color:#373737;
        font-size: 24px;
        line-height: 24px;
        font-weight: 600;
        margin:0px;
        
        & a, & a:visited {
            text-decoration: none;
            color:#373737;
        }
      }
      .post-date {
        width:100%;
        font-family: "Input Mono Reg";
        font-style: Normal;
        font-weight: Normal;
        font-size:0.75rem;
        line-height:1rem;
        text-align: left;
        display: inline-block;
        margin: 0px;
        color:#4A4A4A;
        -webkit-font-smoothing: antialiased;
        font-weight: 400;
        margin-bottom:9px;
      }
    }
    @media (max-width:640px) {
      .post-header .post-title {
        font-size: 24px;
        line-height: 24px;
      }  
    }
      
    /* ==========================================================================
      7. Post Typography - 
      ========================================================================== */
      
    /*.post-template p a,*/ .article-intro > p a:visited, .article-intro > p li a, .article-intro > p li a:visited {
      color:#0DA5E4;
      text-decoration:none;
      transition: all 0.15s ease-in-out;
      border-bottom:1px solid transparent;
    }
    /*.post-template p a:hover,*/ .article-intro > p li a:hover {
      border-bottom:1px solid #0DA5E4;
    }
    /* 
      style inline-level post elements to give them a centered look on desktop.
    */
    section.post-content > p, 
    section.post-content > ul, 
    section.post-content > ol, 
    section.post-content > pre {
      width:100%;
      max-width: 580px;
      margin:0 auto 30px;
      color:#1c1c1c;
      font-size:1rem;
      line-height: 1.66667rem;
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
    }
    @media (max-width:640px) {
      section.post-content > p, 
      section.post-content > ul, 
      section.post-content > ol, 
      section.post-content > pre {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
    
    section.post-content > h1, section.post-content > h2, section.post-content > h3, section.post-content > h4, section.post-content > h5, section.post-content > h6 {
      font-family: 'Karla', sans-serif;
      font-weight: 600;
      width:100%;
      max-width: 580px;
      margin:50px auto 30px;
      color:#373737;
    }
    section.post-content > h1 {
      font-size: 3rem;
      line-height: 3rem;
    }
    section.post-content > h2 {
      font-size: 2rem;
      line-height: 2rem;
    }
    section.post-content > h3 {
      font-size: 1.5rem;
      line-height: 2rem;
    }
    section.post-content > h4 {
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 400;
    }
    section.post-content > h5 {
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 400;
    }
    section.post-content > h6 {
      font-size: 1rem;
      line-height: 1.5rem;
      font-style:italic;
    }
    
    @media (max-width:640px) {
      section.post-content > h1 {
        font-size: 2rem;
        line-height: 2rem;
      }
      section.post-content > h2 {
        font-size: 1.875rem;
        line-height: 1.875rem;
      }
      section.post-content > h3 {
        font-size: 1.25rem;
        line-height: 1.875rem;
      }
      section.post-content > h4 {
        font-size: 1.25rem;
        line-height: 1.875rem;
      }
      section.post-content > h5 {
        font-size: 0.8rem;
        line-height: 1.25rem;
      }
      section.post-content > h6 {
        font-size: 0.8rem;
        line-height: 1.25rem;
      }
    }
    
    /*
      extended type setting, these things are set differently.
    */
    section.post-content > blockquote {
      width:100%;
      margin:50px auto;
      max-width: 780px;
    }
    section.post-content > blockquote p {
      color:#373737;
      font-size:1.75rem;
      line-height:2.5rem;
      text-align:justify;
      font-weight:600;
    }
    
    .post-template section.post-content > p:first-child {
      color:#373737;
      font-size:1rem;
      line-height:1.666667rem;
      font-weight: 600;
      -webkit-font-smoothing: antialiased;  
      font-smoothing: antialiased;
    }
    @media (max-width:640px) {
      .post-template section.post-content > p:first-child {
        font-size:1rem;
        line-height:1.666667rem;
      }
    }
    
    section.post-content > iframe {
      display: block;
      width: 100%;
      max-width: 580px;
      margin: 0 auto 28px;
    }
    
    .post-template .post-header {
      width:100%;
      margin:0px auto 50px;
    }
    .post-template .post-header .post-title, .tag-template .post-header h1.post-title, .author-template .post-header h1.post-title {
      width:100%;
      font-family: 'Karla', sans-serif;
      font-weight: 600;
      font-size:3.33rem;/* 60px */
      line-height:4rem;
      margin:0px;
      text-align: left;
    }
    @media (max-width:640px) {
      .post-template .post-header .post-title, .tag-template .post-header h1.post-title, .author-template .post-header h1.post-title  {
        font-size:2rem;
        line-height: 2.5rem;
      }
    }

    /* HR */
    .post-template hr {
      
      margin: 10px auto;
      width: 100%;
      display: block;
      border: none;
      height: 2px;
      background: #373737;
      border-radius: 0px;
    }
    
    /* Twitter Widgets */
    section.post-content > twitterwidget {
      width: 100%;
      max-width: 580px;
      margin: 0 auto 28px;
    }
      
    /* ==========================================================================
      8. Post Images - 
      ========================================================================== */
    
    .post-header {
      img {
        width:100%;
        box-sizing: border-box;
        border: 5px solid #000000;
        box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.5);
        margin-top:50px;
        margin-left:auto;
        margin-right:auto;
        max-width:780px;
        display:block;
      }
    }
    
    /* target embedded images */
    .grid-column p img {
      width: 100%;
    }
    @media (max-width: 960px) {
      .grid-column p img {
      }
    }
    
    /*artdirected images*/
    .post-content img {
      display:block;
      width:100%;
      max-width: 780px;
      margin-right:auto;
      margin-left:auto;
      
      box-sizing: border-box;
      border: 2px solid #000000;
      box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.5);
      margin-bottom: 50px;
      margin-top: 50px;
    }
    
    .post-content aside {
      float: right;
      max-width: 440px;
      width: 100%;
      box-sizing: border-box;
      padding: 20px;
      background: white;
      border-radius: 0px;
      margin-left: 30px;
      margin-bottom: 50px;
      border: 4px solid #373737;
      box-shadow: 14px 14px 0px 0px rgba(0, 0, 0, 0.4);
    }
    .post-content aside > h6 {
      color:#373737;
      font-size:24px;
      line-height: 32px;
      font-weight: 600;
      font-family: 'Karla', sans-serif;
      margin:0px 0px 16px 0px;
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
    }
    .post-content aside > span:first-child, .post-content aside > p {
      color:#373737;
      font-size:18px;
      line-height: 30px;
      margin:0px 0px 16px 0px;
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
    }
    .post-content aside > p {
      font-family: 'Bitter', georgia, serif;
    }
    .post-content aside > p:last-child {
      margin:0;
    }
    
    .post-content aside > p {}
    .post-content aside > p a  {}
      
    @media (max-width: 980px) {
      .post-content aside {
        float: none;
        max-width: 780px;
        margin:0px auto 50px;
      }
    }
    
    .post-content aside.sponsor {
      height: auto;
      max-width: 580px;
      float: none;
      overflow: hidden;
      margin: 50px auto;
      box-sizing: content-box;
      
      border:5px solid #373737;
      box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.40);
      margin-top: 104px;
    }
    
    /* ==========================================================================
      9. Footers - See footer.scss
      ========================================================================== */
      
    
    
    /* ==========================================================================
      10. Pages - 
      ========================================================================== */
      
    .page-changelog li span {
        background: #0DA5E4;
        color: white;
        padding: 3px 10px;
        margin-left: 10px;
        opacity: 0.75;
    }
    
    .page-changelog ul {
        padding: 0px;
        padding-left: 10px;
    }
    /* special post stuff */
    .actualpostcontentarea {
      margin-bottom:60px;
      /*margin-left:60px;*/
    }
    
    @media (max-width: 800px) {
      .actualpostcontentarea {
        margin-left:0px;
      }
    }
    
    @media (max-width: 600px) {
      .actualpostcontentarea {
        margin-left:0px;
      }
    }
    
    .page-template .post-header .post-title {
      text-align: left;
    }
    
    .grid-block .image-div.special-image-div {
      display: block;
      width: 100%;
      height: 100%;
      min-height: auto;
      position: absolute;
      box-sizing: border-box;
      left: 0px;
      top: 0px;
      background-size: cover;
      opacity: 0.5;
      pointer-events: none;
      background-position: center;
      /* background-size: 100% auto; */
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    
    /* ==========================================================================
      11. Next / Previous asides -
      ========================================================================== */
    
    
    
    /* ==========================================================================
      12. Author Aside box at the bottom.
      ========================================================================== */
    
    .post-content aside.superwideAuthorAside {
      display: block;
      width: 100%;
      max-width:640px;
      margin:0px auto;
      box-sizing: border-box;
      padding:20px;
      background: white;
      border-radius:10px;
      line-height: 25px;
      z-index: 1;
      position: relative;
      display: block;
      width:100%;
      float:none;
    }
    
    .post-content aside.superwideAuthorAside .author-thumb {
      width: 160px;
      height: 160px;
      border-radius:80px;
      float:left;
      margin-right:10px;
      margin-bottom:0px;
    }
    .post-content aside.superwideAuthorAside a, .post-content aside.superwideAuthorAside a:visited {
      color:#0DA5E4;
    }
    
    .post-content aside.superwideAuthorAside p {
      opacity:0.5;
      font-family: 'Karla', sans-serif;
      font-size: 12px;
      line-height: 16px;
      width:auto;
      margin-top:10px;
      margin-bottom:0px;
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
    }
    
    .post-content aside.superwideAuthorAside p {
      color:black;
    }
    .post-content aside.superwideAuthorAside.post-meta a, .post-content aside.superwideAuthorAside.post-meta a:visited {
      color:#0DA5E4;
    }
    
    .post-content aside.superwideAuthorAside {
      float: none;
      min-width: 300px;
    }
    
  /* ==========================================================================
    13. Author Page.
    ========================================================================== */
  .author-image {
      width:100%;
      max-width:200px;
      margin:50px auto;
      display:block;
      border-radius:150px;
      border:10px solid #373737;
      box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.5);
  }
  
  .author-lede {
      @include elasti-max(580px);
      font-family:"Karla", sans-serif;
      font-size: 24px;
      line-height: 40px;  
      margin-top:40px;
      margin-bottom:40px;
      text-align: center;
  }
      
  /* ==========================================================================
    14. Freelance Page
    ========================================================================== */

    
  /* ==========================================================================
    15. Tags Page
    ========================================================================== */