/* ==========================================================================
   Table of Contents
   ========================================================================== */
/*
  Utilities
*/
.block {
  display: block;
  position: relative; }

/*
    A.  Colors
    0.  Normalize
    1.  Grid
    2.  Typography
    3.  Header
    4.  Navigation
    5.  Index
    6.  Post Header
    7.  Post Typography
    8.  Post Images
    9.  Footer
    10. Pages, and special post stuff
    11. Next/Previous Post buttons
    12. Author Aside Box
    13. Author page
    14. Freelancer page
    15. Tags page.
*/
/* ==========================================================================
   A. Global Colors
   ========================================================================== */
/* global black color */
.blackColor {
  color: #1C1C1C;
  /* global black color */ }

/* background color and the color of text and boxes inside of .colored grid blocks. */
.backgroundColor {
  color: #D8DEE3;
  background-color: #D8DEE3; }

/* ==========================================================================
   0. Normalize.css v2.1.3 | MIT License | git.io/normalize | (minified)
   ========================================================================== */
article, aside, details,
figcaption, figure,
footer, header, hgroup,
main, nav, section,
summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  font-family: 'Karla', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

a {
  background: transparent; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #FF0;
  color: #000; }

code, kbd, pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"],
input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

/* ==========================================================================
     1. Grid - 4 column, responsive grid
     ========================================================================== */
/* ==========================================================================
    2. Typography - 
    ========================================================================== */
/* ==========================================================================
    3. Header - see header_navigation.scss
    ========================================================================== */
/* ==========================================================================
    4. Navigation - see header_navigation.scss
    ========================================================================== */
/* ==========================================================================
    5. Index - see index.scss
    ========================================================================== */
/* ==========================================================================
    6. Post Header - 
    ========================================================================== */
.post-header .post-title {
  font-family: 'Karla', sans-serif;
  color: #373737;
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  margin: 0px; }
  .post-header .post-title a, .post-header .post-title a:visited {
    text-decoration: none;
    color: #373737; }

.post-header .post-date {
  width: 100%;
  font-family: "Input Mono Reg";
  font-style: Normal;
  font-weight: Normal;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: left;
  display: inline-block;
  margin: 0px;
  color: #4A4A4A;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  margin-bottom: 9px; }

@media (max-width: 640px) {
  .post-header .post-title {
    font-size: 24px;
    line-height: 24px; } }

/* ==========================================================================
      7. Post Typography - 
      ========================================================================== */
/*.post-template p a,*/
.article-intro > p a:visited, .article-intro > p li a, .article-intro > p li a:visited {
  color: #0DA5E4;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  border-bottom: 1px solid transparent; }

/*.post-template p a:hover,*/
.article-intro > p li a:hover {
  border-bottom: 1px solid #0DA5E4; }

/* 
      style inline-level post elements to give them a centered look on desktop.
    */
section.post-content > p,
section.post-content > ul,
section.post-content > ol,
section.post-content > pre {
  width: 100%;
  max-width: 580px;
  margin: 0 auto 30px;
  color: #1c1c1c;
  font-size: 1rem;
  line-height: 1.66667rem;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

@media (max-width: 640px) {
  section.post-content > p,
  section.post-content > ul,
  section.post-content > ol,
  section.post-content > pre {
    font-size: 1rem;
    line-height: 1.5rem; } }

section.post-content > h1, section.post-content > h2, section.post-content > h3, section.post-content > h4, section.post-content > h5, section.post-content > h6 {
  font-family: 'Karla', sans-serif;
  font-weight: 600;
  width: 100%;
  max-width: 580px;
  margin: 50px auto 30px;
  color: #373737; }

section.post-content > h1 {
  font-size: 3rem;
  line-height: 3rem; }

section.post-content > h2 {
  font-size: 2rem;
  line-height: 2rem; }

section.post-content > h3 {
  font-size: 1.5rem;
  line-height: 2rem; }

section.post-content > h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400; }

section.post-content > h5 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400; }

section.post-content > h6 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-style: italic; }

@media (max-width: 640px) {
  section.post-content > h1 {
    font-size: 2rem;
    line-height: 2rem; }
  section.post-content > h2 {
    font-size: 1.875rem;
    line-height: 1.875rem; }
  section.post-content > h3 {
    font-size: 1.25rem;
    line-height: 1.875rem; }
  section.post-content > h4 {
    font-size: 1.25rem;
    line-height: 1.875rem; }
  section.post-content > h5 {
    font-size: 0.8rem;
    line-height: 1.25rem; }
  section.post-content > h6 {
    font-size: 0.8rem;
    line-height: 1.25rem; } }

/*
      extended type setting, these things are set differently.
    */
section.post-content > blockquote {
  width: 100%;
  margin: 50px auto;
  max-width: 780px; }

section.post-content > blockquote p {
  color: #373737;
  font-size: 1.75rem;
  line-height: 2.5rem;
  text-align: justify;
  font-weight: 600; }

.post-template section.post-content > p:first-child {
  color: #373737;
  font-size: 1rem;
  line-height: 1.666667rem;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

@media (max-width: 640px) {
  .post-template section.post-content > p:first-child {
    font-size: 1rem;
    line-height: 1.666667rem; } }

section.post-content > iframe {
  display: block;
  width: 100%;
  max-width: 580px;
  margin: 0 auto 28px; }

.post-template .post-header {
  width: 100%;
  margin: 0px auto 50px; }

.post-template .post-header .post-title, .tag-template .post-header h1.post-title, .author-template .post-header h1.post-title {
  width: 100%;
  font-family: 'Karla', sans-serif;
  font-weight: 600;
  font-size: 3.33rem;
  /* 60px */
  line-height: 4rem;
  margin: 0px;
  text-align: left; }

@media (max-width: 640px) {
  .post-template .post-header .post-title, .tag-template .post-header h1.post-title, .author-template .post-header h1.post-title {
    font-size: 2rem;
    line-height: 2.5rem; } }

/* HR */
.post-template hr {
  margin: 10px auto;
  width: 100%;
  display: block;
  border: none;
  height: 2px;
  background: #373737;
  border-radius: 0px; }

/* Twitter Widgets */
section.post-content > twitterwidget {
  width: 100%;
  max-width: 580px;
  margin: 0 auto 28px; }

/* ==========================================================================
      8. Post Images - 
      ========================================================================== */
.post-header img {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #000000;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.5);
  margin-top: 0px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 780px;
  display: block; }

/* target embedded images */
.grid-column p img {
  width: 100%; }

/*artdirected images*/
.post-content img {
  display: block;
  width: 100%;
  max-width: 780px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  border: 2px solid #000000;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
  margin-top: 50px; }

.post-content aside {
  float: right;
  max-width: 440px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background: white;
  border-radius: 0px;
  margin-left: 30px;
  margin-bottom: 50px;
  border: 4px solid #373737;
  box-shadow: 14px 14px 0px 0px rgba(0, 0, 0, 0.4); }

.post-content aside > h6 {
  color: #373737;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  font-family: 'Karla', sans-serif;
  margin: 0px 0px 16px 0px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.post-content aside > span:first-child, .post-content aside > p {
  color: #373737;
  font-size: 18px;
  line-height: 30px;
  margin: 0px 0px 16px 0px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.post-content aside > p {
  font-family: 'Karla', arial, sans-serif; }

.post-content aside > p:last-child {
  margin: 0; }

@media (max-width: 980px) {
  .post-content aside {
    float: none;
    max-width: 780px;
    margin: 0px auto 50px; } }

.post-content aside.sponsor {
  height: auto;
  max-width: 580px;
  float: none;
  overflow: hidden;
  margin: 50px auto;
  box-sizing: content-box;
  border: 5px solid #373737;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.4);
  margin-top: 104px; }

/* ==========================================================================
      9. Footers - See footer.scss
      ========================================================================== */
/* ==========================================================================
      10. Pages - 
      ========================================================================== */
.page-changelog li span {
  background: #0DA5E4;
  color: white;
  padding: 3px 10px;
  margin-left: 10px;
  opacity: 0.75; }

.page-changelog ul {
  padding: 0px;
  padding-left: 10px; }

/* special post stuff */
.actualpostcontentarea {
  margin-bottom: 60px;
  /*margin-left:60px;*/ }

@media (max-width: 800px) {
  .actualpostcontentarea {
    margin-left: 0px; } }

@media (max-width: 600px) {
  .actualpostcontentarea {
    margin-left: 0px; } }

.page-template .post-header .post-title {
  text-align: left; }

.grid-block .image-div.special-image-div {
  display: block;
  width: 100%;
  height: 100%;
  min-height: auto;
  position: absolute;
  box-sizing: border-box;
  left: 0px;
  top: 0px;
  background-size: cover;
  opacity: 0.5;
  pointer-events: none;
  background-position: center;
  /* background-size: 100% auto; */
  background-repeat: no-repeat;
  background-size: cover; }

/* ==========================================================================
      11. Next / Previous asides -
      ========================================================================== */
/* ==========================================================================
      12. Author Aside box at the bottom.
      ========================================================================== */
.post-content aside.superwideAuthorAside {
  display: block;
  width: 100%;
  max-width: 640px;
  margin: 0px auto;
  box-sizing: border-box;
  padding: 20px;
  background: white;
  border-radius: 10px;
  line-height: 25px;
  z-index: 1;
  position: relative;
  display: block;
  width: 100%;
  float: none; }

.post-content aside.superwideAuthorAside .author-thumb {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  float: left;
  margin-right: 10px;
  margin-bottom: 0px; }

.post-content aside.superwideAuthorAside a, .post-content aside.superwideAuthorAside a:visited {
  color: #0DA5E4; }

.post-content aside.superwideAuthorAside p {
  opacity: 0.5;
  font-family: 'Karla', sans-serif;
  font-size: 12px;
  line-height: 16px;
  width: auto;
  margin-top: 10px;
  margin-bottom: 0px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.post-content aside.superwideAuthorAside p {
  color: black; }

.post-content aside.superwideAuthorAside.post-meta a, .post-content aside.superwideAuthorAside.post-meta a:visited {
  color: #0DA5E4; }

.post-content aside.superwideAuthorAside {
  float: none;
  min-width: 300px; }

/* ==========================================================================
    13. Author Page.
    ========================================================================== */
.author-image {
  width: 100%;
  max-width: 200px;
  margin: 50px auto;
  display: block;
  border-radius: 150px;
  border: 10px solid #373737;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.5); }

.author-lede {
  display: block;
  position: relative;
  margin: 0px auto;
  width: 100%;
  max-width: 580px;
  font-family: "Karla", sans-serif;
  font-size: 24px;
  line-height: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center; }

/* ==========================================================================
    14. Freelance Page
    ========================================================================== */
/* ==========================================================================
    15. Tags Page
    ========================================================================== */

/* ==========================================================================
  9. Footer - 
  ========================================================================== */
footer.post-meta .author-thumb {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  float: left;
  margin-right: 10px;
  margin-bottom: 20px; }

footer.post-meta {
  line-height: 25px;
  z-index: 1;
  position: relative;
  display: inline-block;
  width: 100%; }

@media (max-width: 640px) {
  footer.post-meta {
    float: none; } }

footer a, footer a:visited {
  color: #0DA5E4; }

.grid-wrapper > footer {
  max-width: 580px;
  margin: 50px auto;
  text-align: center; }

.grid-wrapper > footer section {
  display: inline; }

/*The actual footer*/
.footer-wrapper {
  display: block;
  width: auto;
  height: auto;
  background-color: #E7E7E7; }

footer.footer {
  display: block;
  width: auto;
  max-width: 1280px;
  height: auto;
  padding: 50px;
  box-sizing: border-box;
  margin: 0px auto; }

@media (max-width: 640px) {
  footer.footer {
    padding: 20px; } }

footer.footer .column {
  display: block;
  width: 100%;
  max-width: 180px;
  height: auto;
  float: right;
  margin-right: 20px;
  margin-bottom: 30px; }

footer.footer .column.three-wide {
  display: block;
  width: 100%;
  max-width: 580px;
  height: auto;
  float: right;
  margin-right: 0px; }

footer.footer hr {
  clear: both;
  border: none;
  background: #373737;
  height: 2px; }

@media (max-width: 1280px) {
  footer.footer .column.three-wide {
    width: calc(100% - 600px); } }

@media (max-width: 980px) {
  footer.footer .column.three-wide {
    width: 100%;
    max-width: 100%;
    float: left; }
  footer.footer .column {
    width: 100%;
    max-width: calc(32% - 20px);
    margin-right: 20px;
    margin-left: 0px;
    float: left; }
  footer.footer .column:last-child {
    margin-right: 0px; } }

@media (max-width: 580px) {
  footer.footer .column {
    width: 100%;
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    float: left; } }

footer.footer ul {
  padding: 0px;
  margin: 0px;
  list-style: none; }

footer.footer ul li a {
  font-weight: 400;
  text-decoration: none; }

footer.footer p {
  margin-bottom: 1rem; }

footer.footer p, footer.footer .poweredby, footer.footer ul li a, .newsletterform input {
  font-family: "Input Mono Reg";
  font-style: Normal;
  font-weight: Normal;
  font-size: 1rem;
  line-height: 1.667rem;
  color: #4A4A4A;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

footer.footer p a, footer.footer p a:visited, footer.footer .poweredby a, footer.footer .poweredby a:visited {
  color: #4A4A4A;
  text-decoration: underline;
  border: none; }

footer.footer p a:hover, footer.footer .poweredby a:hover {
  text-decoration: none;
  border: none; }

footer.footer ul li a:hover {
  text-decoration: underline; }

/* newsletterform */
.newsletterform input {
  display: block;
  padding: 20px 15px;
  border: 2px solid #373737;
  font-size: 20px;
  line-height: 20px;
  float: left;
  box-sizing: border-box; }

.newsletterform input[type=email] {
  margin-bottom: 50px;
  color: #373737;
  width: 100%;
  max-width: 320px; }

.newsletterform input[type=submit] {
  color: #373737;
  padding: 22px 15px;
  margin-left: 20px;
  border-bottom: 12px solid #373737;
  box-shadow: 20px 5px 0px -5px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -ms-transform: translate(0px, -10px);
  /* IE 9 */
  -webkit-transform: translate(0px, -10px);
  /* Safari */
  transform: translate(0px, -10px);
  background-color: white; }

.newsletterform input[type=submit]:hover {
  border-bottom: 2px solid #373737;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  -ms-transform: translate(0px, 0px);
  /* IE 9 */
  -webkit-transform: translate(0px, 0px);
  /* Safari */
  transform: translate(0px, 0px); }

@media (max-width: 500px) {
  .newsletterform input, .newsletterform input[type=email], .newsletterform input[type=submit] {
    width: 100%;
    max-width: 460px;
    margin-left: 0px;
    margin-bottom: 35px; } }

/* ==========================================================================
  14. Freelance Page
  ========================================================================== */
.page-freelance {
  background-image: url(../images/apple_keyboard_background.png);
  background-position: top;
  background-size: 32px 1079px;
  background-repeat: repeat-x;
  background-color: white; }
  .page-freelance h1 {
    font-family: "Input Mono Reg";
    font-style: Normal;
    font-weight: Normal;
    font-size: 60px;
    line-height: 60px;
    color: black;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    margin: 150px auto 750px; }
  .page-freelance .keyboard {
    position: absolute;
    top: 383px;
    left: 50%;
    margin-left: -640px;
    z-index: -10;
    width: 1280px;
    height: 640px;
    background-image: url(../images/apple_keyboard.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1280px 640px; }

.freelance-page .backToArticlesBox {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 100px; }

.freelance-page .backToArticlesBox a, .freelance-page .backToArticlesBox a:visited {
  display: block;
  margin: 0px auto;
  color: #1C1C1C;
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  border: 1px solid #1C1C1C;
  padding: 10px 20px;
  border-radius: 6px;
  transition: all 0.15s ease-in-out;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  width: 160px;
  text-align: center; }

.freelance-page .backToArticlesBox a:hover {
  background: #1C1C1C;
  color: white; }

.freelance-page .freelance-page-content {
  margin: 0px auto;
  width: 100%;
  max-width: 580px; }

.freelance-page .freelance-page-content h2 {
  font-family: 'Karla', sans-serif;
  text-align: left;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  color: #1C1C1C;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.freelance-page .freelance-page-content h3 {
  font-family: 'Karla', sans-serif;
  text-align: left;
  font-size: 40px;
  font-weight: 300;
  line-height: 40px;
  color: #1C1C1C;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.freelance-page .freelance-page-content hr {
  width: 100%;
  border: none;
  background: #1c1c1c;
  height: 4px;
  border-radius: 2px;
  margin: 20px auto;
  max-width: 100%;
  padding: 0px; }

.freelance-page .freelance-page-content p {
  font-family: 'Karla', sans-serif;
  text-align: left;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 30px;
  color: #1C1C1C;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.freelance-page .freelance-page-content p strong {
  font-weight: 600; }

.freelance-page .freelance-page-content p a, .freelance-page .freelance-page-content p a:visited {
  font-weight: 600;
  text-decoration: none;
  color: #1c1c1c;
  border-bottom: 1px solid #1c1c1c; }

.freelance-page .freelance-page-content p a:hover {
  /*text-decoration: none;*/
  color: #0DA5E4;
  border-bottom: 1px solid #0DA5E4; }

/* ==========================================================================
   1. Grid - 4 column, responsive grid
   ========================================================================== */
body {
  background-color: #E4EBF0;
  background-color: #F7F7F7; }

/*
    Max Width: 1180px
    max Column Width: 250px;
    Gutter width: 40px;
    Outer Margins: 80px;
   */
.grid-wrapper {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1280px;
  height: auto;
  margin: 0 auto;
  padding: 50px;
  box-sizing: border-box; }

@media (max-width: 640px) {
  .grid-wrapper {
    padding: 20px; } }

/*
   .grid-blocks hold contents inside of Grid wrappers.
   they are like little boxes and stuff.
   They can be different colors, but are usually colorless.
   */
.grid-block {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px auto; }
  .grid-block.grid-block-780 {
    max-width: 780px; }
  .grid-block.grid-block-580 {
    max-width: 580px; }

.grid-row {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  clear: both; }

.grid-column {
  display: block;
  width: 100%;
  float: left; }

/* Single Column is centered */
.grid-column.single-column {
  width: 25%;
  max-width: 250px;
  margin-right: 40px; }

.grid-column.single-column:nth-child(4n+0) {
  margin-right: 0px; }

.grid-column.double-column {
  width: 45%;
  width: calc(50% - 40px);
  max-width: 540px;
  margin-right: 40px;
  margin-bottom: 40px;
  max-height: 360px; }

@media (max-width: 960px) {
  .grid-column.double-column {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; } }

/* Centered Double*/
.grid-column.double-centered-column {
  width: 45%;
  width: calc(50% - 20px);
  max-width: 540px;
  margin-right: 0%;
  margin-left: 55%;
  margin-left: calc(50% + 20px);
  float: none; }

@media (max-width: 960px) {
  .grid-column.double-centered-column {
    width: 100%;
    margin-left: auto;
    margin-right: auto; } }

/* 3-wide column*/
.grid-column.three-wide-column {
  width: 25%;
  width: calc(25% - 20px);
  max-width: 280px;
  margin-right: 20px;
  margin-left: 0px;
  float: left; }

@media (max-width: 960px) {
  .grid-column.three-wide-column {
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto; } }

/* 8-wide column, with right margin of 1 column*/
.grid-column.eight-wide-column {
  width: 66%;
  width: calc(66% - 20px);
  max-width: 780px;
  margin-right: calc(8.3% - 20px);
  margin-left: 0px;
  float: right; }

@media (max-width: 960px) {
  .grid-column.eight-wide-column {
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto; } }

/* ==========================================================================
  3. Header - 
  ========================================================================== */
.main-header {
  text-decoration: none;
  color: #D8DEE3;
  display: block;
  position: relative;
  z-index: 10;
  border-bottom: 2px solid black;
  height: 77px; }

/* ==========================================================================
  4. Navigation - 
  ========================================================================== */
.main-header .page-title {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
  float: left;
  margin: 0px; }
  .main-header .page-title a {
    display: block;
    width: 102px;
    height: 65px;
    background-image: url(../images/iPodLogo.svg);
    background-position: center;
    background-size: 102px 65px;
    text-indent: -60000px; }

@media (max-width: 640px) {
  .main-header .page-title {
    margin-bottom: 20px;
    clear: both; } }

.main-header .main-nav {
  right: 0;
  margin-top: 13px;
  bottom: 10px;
  position: absolute;
  padding-left: 92px; }

.main-header .main-nav ul {
  display: inline;
  padding: 0px;
  margin: 0px; }

.main-header .main-nav ul li {
  list-style-type: none;
  display: inline; }

.main-header .main-nav a {
  float: right;
  margin-left: 20px;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  border-bottom: 1px solid transparent;
  font-family: "Input Mono Reg";
  font-style: Normal;
  font-weight: Normal;
  font-size: 1rem;
  line-height: 1rem;
  color: #1C1C1C; }

.main-header .main-nav a:hover {
  border-bottom: 1px solid #1C1C1C; }

.pagination {
  clear: both;
  text-align: center; }

.pagination a, .pagination a:hover {
  color: #0DA5E4; }

/*Buttons*/
.button {
  font-family: 'Karla', sans-serif;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  padding: 15px 25px;
  text-decoration: none;
  width: 100px;
  height: auto;
  text-align: center;
  position: relative;
  display: block;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  border-radius: 6px;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 150ms cubic-bezier(0.26, 1.48, 0.47, 0.96);
  transition: all 150ms cubic-bezier(0.26, 1.48, 0.47, 0.96); }

.button:hover {
  /*-webkit-box-shadow: 0px 10px 14px 0px rgba(0,0,0,0.20);*/
  /*box-shadow: 0px 10px 14px 0px rgba(0,0,0,0.20);*/
  /*transform: scale(1.01, 1.01);*/ }

.grid-block.colored .button {
  border-color: white;
  color: white;
  -webkit-transition: all 300ms cubic-bezier(0.26, 1.48, 0.47, 0.96);
  transition: all 300ms cubic-bezier(0.26, 1.48, 0.47, 0.96); }

.grid-block.colored .button:hover {
  background-color: white;
  color: #1C1C1C; }

.submitbutton:focus, .submitbutton:visited {
  outline: none; }

footer a, footer a:visited {
  color: #0DA5E4; }

/* asides */
aside > a {
  text-decoration: none; }

aside > a:hover {
  text-decoration: underline; }

/* ==========================================================================
  5. Index - 
  ========================================================================== */
/*
  Utilities
*/
.block {
  display: block;
  position: relative; }

.meta_description {
  display: block;
  position: relative;
  margin: 0px auto;
  width: 100%;
  max-width: 780px; }
  .meta_description .meta-lede {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 100%;
    max-width: 580px;
    font-family: "Karla", sans-serif;
    font-size: 24px;
    line-height: 40px;
    margin-top: 150px;
    margin-bottom: 0px; }

h2.featured-header {
  font-family: "Karla", sans-serif;
  text-align: center;
  font-size: 60px;
  line-height: 60px;
  font-weight: 600;
  margin-top: 150px;
  margin-bottom: 50px; }

.index-post-summary footer p {
  opacity: 0.5;
  font-family: "Karla", sans-serif;
  font-size: 12px;
  line-height: 16px;
  max-width: 290px;
  width: auto;
  margin-top: 10px;
  margin-bottom: 0px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.index-post-summary footer p, .index-post-summary footer.post-meta a, .index-post-summary footer.post-meta a:visited {
  color: #373737; }

.index-post-summary section.post-excerpt {
  margin-bottom: 20px; }

.index-post-summary section.post-excerpt p {
  margin: 0px;
  text-align: left;
  font-family: 'Karla', sans-serif;
  font-size: 1.5rem;
  line-height: 34px;
  color: #767676;
  -webkit-font-smoothing: antialiased; }

@media (max-width: 640px) {
  .index-post-summary section.post-excerpt p {
    font-size: 0.8rem;
    line-height: 1.25rem; } }

.index-post-summary a.index-post-button, .index-post-summary a.index-post-button:visited {
  display: inline-block;
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin-bottom: 20px;
  padding: 10px 20px;
  color: #373737;
  border: 1px solid #373737;
  border-radius: 6px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.15s ease-in-out; }

.index-post-summary a.index-post-button:hover {
  background: #373737;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

/* Featured posts on the homepage */
.index-post-summary-featured {
  height: auto;
  width: 100%;
  padding: 0px;
  box-sizing: border-box;
  position: relative;
  display: block;
  background: transparent;
  margin-top: 50px;
  margin-bottom: 50px; }
  .index-post-summary-featured img {
    width: 65%;
    float: left;
    max-width: 780px;
    box-sizing: border-box;
    border: 2px solid #000000;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.5);
    margin-top: 0px;
    margin-bottom: 50px;
    margin-right: 20px; }
  .index-post-summary-featured .post-header .post-title, .index-post-summary-featured .post-header .post-title a, .index-post-summary-featured .post-header .post-title a:visited {
    color: #373737; }
  .index-post-summary-featured .article-intro {
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: calc(100% - 120px); }
  .index-post-summary-featured footer p {
    opacity: 0.5;
    font-family: 'Karla', sans-serif;
    font-size: 12px;
    line-height: 16px;
    max-width: 290px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased; }
  .index-post-summary-featured section.post-content > p, .index-post-summary-featured section.post-content > ul, .index-post-summary-featured section.post-content > ol, .index-post-summary-featured section.post-content > pre {
    max-width: 100%; }
  .index-post-summary-featured a.square-button {
    display: block;
    border: 2px solid #373737;
    font-size: 20px;
    line-height: 20px;
    float: left;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Input Mono Reg";
    font-style: Normal;
    font-weight: 300;
    min-width: 280px;
    text-align: center;
    color: #373737;
    padding: 22px 15px;
    margin-left: 0px;
    border-bottom: 12px solid #373737;
    box-shadow: 20px 5px 0px -5px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    -ms-transform: translate(0px, -10px);
    /* IE 9 */
    -webkit-transform: translate(0px, -10px);
    /* Safari */
    transform: translate(0px, -10px);
    background-color: white; }
  .index-post-summary-featured a.square-button:hover {
    border-bottom: 2px solid #373737;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    -ms-transform: translate(0px, 0px);
    /* IE 9 */
    -webkit-transform: translate(0px, 0px);
    /* Safari */
    transform: translate(0px, 0px); }

@media (max-width: 1024px) {
  .index-post-summary-featured img {
    width: 100%;
    max-width: 1000px;
    margin-bottom: 10px; } }

/* The very first featured post on the homepage */
.featuredloop .index-post-summary-featured {
  margin-top: 50px;
  margin-bottom: 0px;
  max-width: 100%;
  border-top: 2px solid black; }
  .featuredloop .index-post-summary-featured h2 {
    width: 100%;
    font-size: 3.33rem;
    line-height: 4rem;
    text-align: left; }
  .featuredloop .index-post-summary-featured .no-image {
    display: block;
    min-width: 100px;
    max-width: 580px;
    height: 30vh;
    width: 100%;
    box-sizing: border-box;
    border: 5px solid #000000;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
    float: left; }
  .featuredloop .index-post-summary-featured section.post-content {
    float: left;
    margin-left: 0px;
    width: 100%; }

.featuredloop .index-post-summary-featured:first-child {
  border-top: none;
  margin-top: 0px; }

@media (max-width: 640px) {
  .featuredloop .index-post-summary-featured h2 {
    font-size: 2rem;
    line-height: 2.5rem; } }

/* message of the day */
.messageoftheday {
  font-size: 50px;
  line-height: 70px;
  margin: 160px 0px;
  text-align: center; }

@media (max-width: 640px) {
  .messageoftheday {
    font-size: 25px;
    line-height: 25px;
    margin: 20px 0px; } }

/* index-articles */
.index-articles {
  margin-bottom: 150px; }
  .index-articles > h2 {
    font-family: "Input Mono Reg";
    font-style: Normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    border-bottom: 2px solid black;
    margin-top: 50px; }
  .index-articles article {
    margin-bottom: 20px; }

.sidebar h4 {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 10px; }

.sidebar .sponsorbox {
  width: 100%;
  box-sizing: border-box;
  display: block;
  position: relative;
  border: 4px solid black;
  border-bottom: 8px solid black;
  box-shadow: 10px 3px 0px -3px rgba(0, 0, 0, 0.5);
  height: 135px;
  margin-bottom: 10px; }

.sidebar .authoravatarbox {
  width: 125px;
  height: 125px;
  box-sizing: border-box;
  display: block;
  position: relative;
  border: 4px solid black;
  box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  border-radius: 65px;
  background-size: 125px 125px;
  background-position: center;
  background-repeat: no-repeat; }

.sidebar p {
  font-family: "Input Mono Reg";
  font-style: Normal;
  font-weight: Normal;
  font-size: 0.666rem;
  line-height: 1rem;
  text-align: justify;
  display: inline-block;
  margin: 0px;
  margin-bottom: 20px;
  color: #373737;
  -webkit-font-smoothing: antialiased;
  font-weight: 400; }

.sidebar .sponsorbox.prologuead {
  background-image: url(../images/ads/prologuead-1.png);
  background-size: 275px 135px;
  background-position: center;
  background-repeat: none; }

.sidebar .sponsorbox.pulsead {
  background-image: url(../images/ads/thepulsead-1.png);
  background-size: 275px 135px;
  background-position: right;
  background-repeat: none; }

/* ==========================================================================
  2. Typography - 
  ========================================================================== */
/* 
  Headers and paragraphs obviously expand to fill the width of their containg block.  
  all typographic elements only have bottom margins, never any other margins.
  */
body, html {
  font-size: 18px;
  font-family: 'Karla', arial, sans-serif;
  color: #272727; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  margin-bottom: 1rem;
  margin-top: 0rem;
  letter-spacing: 0px; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.25rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.75rem; }

@media (max-width: 960px) {
  h1 {
    font-size: 2rem; }
  h2 {
    font-size: 1.75rem; }
  h3 {
    font-size: 1.5rem; }
  h4 {
    font-size: 1.2rem; }
  h5 {
    font-size: 1rem; }
  h6 {
    font-size: 0.75rem; } }

@media (max-width: 640px) {
  h1 {
    font-size: 1.5rem; }
  h2 {
    font-size: 1.25rem; }
  h3 {
    font-size: 1rem; }
  h4 {
    font-size: 0.9rem; }
  h5 {
    font-size: 0.8rem; }
  h6 {
    font-size: 0.75rem; } }

p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
  margin-top: 0px; }

/* Never style raw anchor tags., only a tags inside of another element */
/*a*/
p > a {
  text-decoration: underline;
  color: inherit;
  font-size: inherit; }

p > a:hover {
  text-decoration: none; }
